.background-slider{
	background:url(../img/bkgrdtemp.jpg) left top no-repeat;
}
h1, h2, h3, h4, h5, h6, p {
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif !important;
	color: white;
}
h1 {
	font-size: 131px;
	font-weight: bold;
	color: #f7931d;
}
h2 {
	font-size: 77px;
	font-weight: bold;
	color: #91351e;
}
h3 {
	font-size: 21px !important;
}
h4 {
	font-size: 18px !important;
	font-weight: 300;
}
h5 {
	font-size: 14px !important;
}
h6 {
	font-size: 11px !important;
}
p {
	font-size: 12px !important;
}